* {
  margin: 0;
  color: white;
}

body {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  background-color: #08080c;
}
header {
  color: white;
  margin: 10% auto 5%;
  text-align: center;
}

.container {
  width: 90vw;

  margin: 0 auto;
  text-align: center;

  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: space-around;
}

/* pra toda div dentro de .container: */
.container div {
  font-family: 'Oxanium', 'cursive';

  height: 150px;
  margin-top: 20px;
  display: block;

  background-image: linear-gradient(
    rgba(25, 27, 31, 0.7),
    rgba(20, 27, 31, 0.5)
  );
  color: #7f8a94;
}
.container div > img {
  width: 35%;
  height: 35%;
  margin-top: 25%;
}
.container div > p {
  margin-top: 8%;
  color: #7f8a94;
  font-size: 5vw;
}

@media (max-width: 415px) {
  body {
    width: 100vw;
  }
  main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    margin: 10% auto 5%;
    text-align: center;
  }

  .container {
    width: 80vw;

    margin: 0 auto;
    text-align: center;

    display: grid;
    grid-template-columns: 35vw 35vw;
    row-gap: 1vw;
    column-gap: 6vw;
    justify-content: space-evenly;
  }

  /* pra toda div dentro de .container: */
  .container div {
    height: 35vw;

    margin-top: 20px;
    border-radius: 4vw;
  }
}
