* {
  margin: 0;
}

@media (max-width: 415px) {
  body {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  header {
    margin: 10% auto 5%;
    text-align: center;
  }

  .container div{
    background-color: black;
    color: white;
    display: inline-block;
    height: 100px;
    width: 100px;
    
  }

  .features{
    text-align: center;
    line-height: 620%;
  }
}
